@color-augur: #231a3a;
@color-augur-text: #412468;

.auth-onboard {
  display: flex;
  flex-flow: column nowrap;
  width: 720px;

  h1 {
    font-size: 2.5em;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }
}

.auth-onboard-actions {
  align-content: space-between;
  display: flex;
  flex-flow: row wrap;
  margin-top: 10em;

  div {
    align-content: space-between;
    display: flex;
    flex: 0 1 40%;
    flex-flow: column nowrap;
    margin-right: auto;

    button {
      background-color: @color-gray;
      border-radius: 3px;
      color: @color-augur-text;
      letter-spacing: 1px;
      padding: 2em 2.5em;
      text-transform: uppercase;
    }

    button:hover {
      background-color: @color-white;
    }

    button:hover + span {
      display: block;
    }

    span {
      align-self: center;
      background-color: @color-augur;
      border-radius: 3px;
      color: @color-white;
      display: none;
      padding: 0.5em 0.25em;
    }
  }

  div:last-of-type {
    margin-left: auto;
    margin-right: 0;
  }
}
