<div class="row">
    <ul class="breadcrumb">
        <li>
            <a href="/markets">
                Markets
            </a>
        </li>
        <li>
            <a ui-sref="markets.listing({ nodeId: marketDetail.branch._id })">
                {{ marketDetail.branch.description }}
            </a>
        </li>
        <li class="dropdown">
            <!--<a href="#" data-toggle="dropdown">-->
            <span>
                {{ marketDetail.market.description }}
            </span>
                <!--<span class="caret"></span>-->
            <!--</a>-->

            <!--<table class="dropdown-menu table table-hover" role="menu"-->
                   <!--style="max-width: none; width: auto;">-->
                <!--<tbody>-->
                    <!--<tr ng-repeat="market in breadcrumb.markets track by market._id" ng-class="{highlighted: breadcrumb.market._id === marketDetail.market._id}">-->
                        <!--<td class="text-nowrap">-->
                            <!--<a ui-sref="marketDetail({ marketId: market._id })"-->
                               <!--ng-if="market._id !== marketDetail.market._id">-->
                                <!--{{market.description}}-->
                            <!--</a>-->
                            <!--<span ng-if="market.id === marketDetail.market._id">-->
                                <!--{{market.description}}-->
                            <!--</span>-->
                        <!--</td>-->
                        <!--<td class="text-nowrap text-right">-->
                            <!--Last: <strong>{{market.lastTradeCostPerShareFormatted}}-->
                            <!--({{market.lastTradePriceFormatted}}%)</strong>-->
                        <!--</td>-->
                    <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        </li>
    </ul>
</div>